name: Build pna-lp

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t pna-lp:test .

      - name: Image info
        run: docker images pna-lp:test
